In [1]:
import pandas as pd

## Đọc file csv

Tải file tại: https://www.kaggle.com/datasets/vivovinco/20222023-football-player-stats

In [2]:
# Đọc file csv trong cùng thư mục
pd.read_csv('footballplayer.csv', delimiter=';', encoding='ISO-8859-1')

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,2685,Szymon ?urkowski,POL,MF,Fiorentina,Serie A,25,1997,2,0,...,0.00,2.50,0.00,0.0,0.0,0.00,5.00,2.50,2.50,50.0
2685,2686,Szymon ?urkowski,POL,MF,Spezia,Serie A,25,1997,1,0,...,0.00,0.00,0.00,0.0,0.0,0.00,30.00,0.00,0.00,0.0
2686,2687,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,1998,20,20,...,0.05,2.51,0.70,0.0,0.0,0.00,5.19,0.48,0.70,40.9
2687,2688,Milan ?uri?,BIH,FW,Hellas Verona,Serie A,32,1990,16,7,...,0.38,0.00,0.13,0.0,0.0,0.00,2.05,14.50,3.59,80.1
2688,2689,Filip ?uri?i?,SRB,MFFW,Sampdoria,Serie A,31,1992,20,17,...,0.00,1.56,0.88,0.0,0.0,0.00,4.97,0.54,0.88,38.1

In [3]:
# Đọc file csv nếu theo địa chỉ
pd.read_csv(r'D:\OneDrive\7. VIDEO\2. Pandas cơ bản\footballplayer.csv', delimiter=';', encoding='ISO-8859-1')

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,2685,Szymon ?urkowski,POL,MF,Fiorentina,Serie A,25,1997,2,0,...,0.00,2.50,0.00,0.0,0.0,0.00,5.00,2.50,2.50,50.0
2685,2686,Szymon ?urkowski,POL,MF,Spezia,Serie A,25,1997,1,0,...,0.00,0.00,0.00,0.0,0.0,0.00,30.00,0.00,0.00,0.0
2686,2687,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,1998,20,20,...,0.05,2.51,0.70,0.0,0.0,0.00,5.19,0.48,0.70,40.9
2687,2688,Milan ?uri?,BIH,FW,Hellas Verona,Serie A,32,1990,16,7,...,0.38,0.00,0.13,0.0,0.0,0.00,2.05,14.50,3.59,80.1
2688,2689,Filip ?uri?i?,SRB,MFFW,Sampdoria,Serie A,31,1992,20,17,...,0.00,1.56,0.88,0.0,0.0,0.00,4.97,0.54,0.88,38.1

In [4]:
cauthu = pd.read_csv('footballplayer.csv', delimiter=';', encoding='ISO-8859-1')

In [5]:
cauthu

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,2685,Szymon ?urkowski,POL,MF,Fiorentina,Serie A,25,1997,2,0,...,0.00,2.50,0.00,0.0,0.0,0.00,5.00,2.50,2.50,50.0
2685,2686,Szymon ?urkowski,POL,MF,Spezia,Serie A,25,1997,1,0,...,0.00,0.00,0.00,0.0,0.0,0.00,30.00,0.00,0.00,0.0
2686,2687,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,1998,20,20,...,0.05,2.51,0.70,0.0,0.0,0.00,5.19,0.48,0.70,40.9
2687,2688,Milan ?uri?,BIH,FW,Hellas Verona,Serie A,32,1990,16,7,...,0.38,0.00,0.13,0.0,0.0,0.00,2.05,14.50,3.59,80.1
2688,2689,Filip ?uri?i?,SRB,MFFW,Sampdoria,Serie A,31,1992,20,17,...,0.00,1.56,0.88,0.0,0.0,0.00,4.97,0.54,0.88,38.1

## head() và tail()

In [6]:
# Chọn xx dòng đầu tiên của dữ liệu. Nếu để trống thì sẽ lấy 5 dòng đầu tiên
cauthu.head(10)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.00,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.00,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.00,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.00,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.00,0.0,0.00,6.51,0.31,0.39,44.4
5,6,Oliver Abildgaard,DEN,MF,Hellas Verona,Serie A,26,1996,1,0,...,0.00,0.00,10.00,0.00,0.0,0.00,10.00,0.00,10.00,0.0
6,7,Matthis Abline,FRA,FWMF,Auxerre,Ligue 1,19,2003,5,2,...,0.48,0.95,0.48,0.00,0.0,0.00,0.48,1.43,1.43,50.0
7,8,Matthis Abline,FRA,FWMF,Rennes,Ligue 1,19,2003,11,0,...,0.83,1.67,0.83,0.83,0.0,0.00,1.67,0.83,3.33,20.0
8,9,Abner,BRA,DF,Betis,La Liga,22,2000,4,3,...,0.00,1.33,2.33,0.00,0.0,0.00,6.00,1.00,2.00,33.3
9,10,Zakaria Aboukhlal,MAR,FWMF,Toulouse,Ligue 1,22,2000,22,17,...,0.72,0.96,0.72,0.00,0.0,0.00,4.43,0.42,1.32,24.1

In [7]:
# Chọn xx dòng cuối tiên của dữ liệu. Nếu để trống thì sẽ lấy 5 dòng cuối tiên
cauthu.tail(5)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
2684,2685,Szymon ?urkowski,POL,MF,Fiorentina,Serie A,25,1997,2,0,...,0.00,2.50,0.00,0.0,0.0,0.0,5.00,2.50,2.50,50.0
2685,2686,Szymon ?urkowski,POL,MF,Spezia,Serie A,25,1997,1,0,...,0.00,0.00,0.00,0.0,0.0,0.0,30.00,0.00,0.00,0.0
2686,2687,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,1998,20,20,...,0.05,2.51,0.70,0.0,0.0,0.0,5.19,0.48,0.70,40.9
2687,2688,Milan ?uri?,BIH,FW,Hellas Verona,Serie A,32,1990,16,7,...,0.38,0.00,0.13,0.0,0.0,0.0,2.05,14.50,3.59,80.1
2688,2689,Filip ?uri?i?,SRB,MFFW,Sampdoria,Serie A,31,1992,20,17,...,0.00,1.56,0.88,0.0,0.0,0.0,4.97,0.54,0.88,38.1

## Tìm hiểu sơ qua về tập dữ liệu

In [8]:
# Hiển thị thông tin tổng quan về dữ liệu
cauthu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689 entries, 0 to 2688
Columns: 124 entries, Rk to AerWon%
dtypes: float64(112), int64(7), object(5)
memory usage: 2.5+ MB

In [9]:
# Thống kê mô tả cơ bản của một DataFrame hoặc Series
cauthu.describe()

,Rk,Age,Born,MP,Starts,Min,90s,Goals,Shots,SoT,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
count,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,...,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000
mean,1345.000000,26.011157,1996.155820,11.833023,8.476013,760.451097,8.450465,1.027520,1.245787,0.411261,...,0.204697,1.661636,0.990569,0.009249,0.015173,0.003142,4.951967,1.312064,1.497356,43.583600
std,776.391761,4.446259,4.450108,6.864278,6.994383,591.094260,6.567484,2.013714,1.424619,0.754716,...,0.552376,2.319000,1.235965,0.043781,0.077399,0.022607,2.901833,1.579539,1.830391,26.673092
min,1.000000,15.000000,1981.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,673.000000,23.000000,1993.000000,5.000000,2.000000,194.000000,2.200000,0.000000,0.260000,0.000000,...,0.000000,0.000000,0.300000,0.000000,0.000000,0.000000,3.330000,0.330000,0.550000,27.600000
50%,1345.000000,26.000000,1996.000000,13.000000,7.000000,684.000000,7.600000,0.000000,0.860000,0.180000,...,0.000000,0.760000,0.830000,0.000000,0.000000,0.000000,5.000000,0.930000,1.100000,46.400000
75%,2017.000000,29.000000,2000.000000,18.000000,14.000000,1245.000000,13.800000,1.000000,1.850000,0.590000,...,0.210000,2.500000,1.320000,0.000000,0.000000,0.000000,6.270000,1.790000,1.830000,60.000000
max,2689.000000,41.000000,2007.000000,23.000000,23.000000,2070.000000,23.000000,25.000000,15.000000,10.000000,...,10.000000,30.000000,20.000000,0.870000,2.000000,0.500000,30.000000,25.000000,30.000000,100.000000

In [10]:
# Lấy kích thước (số hàng và số cột) của một DataFrame hoặc Series
cauthu.shape

(2689, 124)

In [11]:
# Lấy tổng số phần tử (số ô) trong DataFrame hoặc Series
cauthu.size

333436

## Chọn cột bằng tên cột

In [12]:
# Lấy danh sách các cột có trong Dataframe
cauthu.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts',
       ...
       'Off', 'Crs', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'AerWon',
       'AerLost', 'AerWon%'],
      dtype='object', length=124)

In [13]:
# Xem dữ liệu một cột nào đó
cauthu['Player']

0        Brenden Aaronson
1        Yunis Abdelhamid
2           Himad Abdelli
3       Salis Abdul Samed
4         Laurent Abergel
              ...
2684     Szymon ?urkowski
2685     Szymon ?urkowski
2686      Martin Ødegaard
2687          Milan ?uri?
2688        Filip ?uri?i?
Name: Player, Length: 2689, dtype: object

In [14]:
# Cho biết kiểu dữ liệu của cột trong DataFrame cauthu
type(cauthu['Player'])

pandas.core.series.Series

In [15]:
#Lấy cột từ DataFrame dưới dạng một DataFrame (không phải Series).
cauthu[['Player']]

                 Player
0      Brenden Aaronson
1      Yunis Abdelhamid
2         Himad Abdelli
3     Salis Abdul Samed
4       Laurent Abergel
...                 ...
2684   Szymon ?urkowski
2685   Szymon ?urkowski
2686    Martin Ødegaard
2687        Milan ?uri?
2688      Filip ?uri?i?

[2689 rows x 1 columns]

In [16]:
# Xem dữ liệu của nhiều cột nào đó
cauthu[['Player','Nation']]

                 Player Nation
0      Brenden Aaronson    USA
1      Yunis Abdelhamid    MAR
2         Himad Abdelli    FRA
3     Salis Abdul Samed    GHA
4       Laurent Abergel    FRA
...                 ...    ...
2684   Szymon ?urkowski    POL
2685   Szymon ?urkowski    POL
2686    Martin Ødegaard    NOR
2687        Milan ?uri?    BIH
2688      Filip ?uri?i?    SRB

[2689 rows x 2 columns]

In [17]:
type(cauthu[['Player','Nation']])

pandas.core.frame.DataFrame

In [18]:
cauthu.Nation

0       USA
1       MAR
2       FRA
3       GHA
4       FRA
       ...
2684    POL
2685    POL
2686    NOR
2687    BIH
2688    SRB
Name: Nation, Length: 2689, dtype: object

## Chọn cột bằng iloc

In [19]:
# Truy xuất hàng dữ liệu theo chỉ mục trong DataFrame (Chỉ mục 3)
cauthu.iloc[3]

Rk                         4
Player     Salis Abdul Samed
Nation                   GHA
Pos                       MF
Squad                   Lens
                 ...
OG                      0.05
Recov                    6.6
AerWon                   0.5
AerLost                  0.5
AerWon%                 50.0
Name: 3, Length: 124, dtype: object

In [20]:
# Truy xuất hàng dữ liệu theo chỉ mục trong DataFrame (Chỉ mục 0,1,5)
cauthu.iloc[[0,1,5]]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.0,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.0,6.64,2.18,1.23,64.0
5,6,Oliver Abildgaard,DEN,MF,Hellas Verona,Serie A,26,1996,1,0,...,0.00,0.00,10.00,0.0,0.0,0.0,10.00,0.00,10.00,0.0

In [21]:
# Truy xuất hàng dữ liệu theo chỉ mục trong DataFrame (Chỉ mục 5 đến 9 (10-1) )
cauthu.iloc[5:10]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
5,6,Oliver Abildgaard,DEN,MF,Hellas Verona,Serie A,26,1996,1,0,...,0.00,0.00,10.00,0.00,0.0,0.0,10.00,0.00,10.00,0.0
6,7,Matthis Abline,FRA,FWMF,Auxerre,Ligue 1,19,2003,5,2,...,0.48,0.95,0.48,0.00,0.0,0.0,0.48,1.43,1.43,50.0
7,8,Matthis Abline,FRA,FWMF,Rennes,Ligue 1,19,2003,11,0,...,0.83,1.67,0.83,0.83,0.0,0.0,1.67,0.83,3.33,20.0
8,9,Abner,BRA,DF,Betis,La Liga,22,2000,4,3,...,0.00,1.33,2.33,0.00,0.0,0.0,6.00,1.00,2.00,33.3
9,10,Zakaria Aboukhlal,MAR,FWMF,Toulouse,Ligue 1,22,2000,22,17,...,0.72,0.96,0.72,0.00,0.0,0.0,4.43,0.42,1.32,24.1

In [22]:
# Truy xuất dữ liệu ở hàng thứ (5), cột thứ (1) trong DataFrame
cauthu.iloc[5,1]

'Oliver Abildgaard'

In [23]:
# Lấy 5 hàng đầu tiên và 10 cột đầu tiên của DataFrame
cauthu.iloc[:5,:10]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15

## Chọn cột bằng loc

In [24]:
# Truy xuất hàng dữ liệu tại chỉ mục 50 trong DataFrame
cauthu.loc[50]

Rk                    51
Player     Tomás Alarcón
Nation               CHI
Pos                   MF
Squad              Cádiz
               ...
OG                   0.0
Recov                5.6
AerWon               1.2
AerLost              0.4
AerWon%             75.0
Name: 50, Length: 124, dtype: object

## Index

In [25]:
# Truy xuất thông tin về thứ hạng (Rk), tên cầu thủ (Player), và đội bóng (Squad) cho các hàng có chỉ mục 31, 10, và 2024
cauthu.loc[[31,10,2024],["Rk", "Player", "Squad"]]

        Rk            Player           Squad
31      32  Naouirou Ahamada  Crystal Palace
10      11     Tammy Abraham            Roma
2024  2025  Ivan Radovanovi?     Salernitana

In [26]:
# Thiết lập cột Rk làm chỉ mục cho DataFrame
cauthu.set_index(["Rk"], inplace = True)

In [27]:
cauthu.head()

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
Rk,,,,,,,,,,,,,,,,,,,,,
1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,1596,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,1980,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,770,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,1799,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,1165,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4